#admin-exam-editor-canvas {
    width: 100%;
    height: 100%;
}

#admin-exam-editor-canvas > img {
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#admin-marking-scheme-editor-canvas {
    width: 100%;
    height: 100%;
}

#admin-marking-scheme-editor-canvas > img {
    width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.admin-exam-editor-controls {
    position: sticky;
    top:56px;
    z-index: 3;
}

.question-div {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    text-align: center;
    border: 3px solid #2196F3;
    box-sizing: border-box;
    touch-action: none;
}

.question-div:after {
    content: " ";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;
}

.question-header {
    cursor: move;
    z-index: 2;
    background-color: #2196F3;
    color: #fff;
}

.question-header > h6 {
    margin: 0;
    font-size: 10px;
}

.question-options {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 25px;
}

.question-options-left {
    position: absolute;
    bottom:0;
    left: 0;
}

.question-options-right {
    position: absolute;
    bottom:0;
    right: 16px;
}

.answer-div {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    text-align: center;
    border: 3px solid #2196F3;
}

.answer-div:after {
    content: " ";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;
}

.answer-header {
    cursor: move;
    z-index: 2;
    background-color: #2196F3;
    color: #fff;
}

.answer-header > h6 {
    margin: 0;
    font-size: 10px;
}

.answer-options-left {
    position: absolute;
    bottom:0;
    left: 0;
}

.answer-options-right {
    position: absolute;
    bottom:0;
    right: 16px;
}

.container-split {
    z-index: 5;
}

.container-split > * {
    position: absolute;
}

.question-ui > * {

}