.col-centered{
    float: none;
    margin: 0 auto;
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
    white-space: pre-line;
}

.standardColor {
    color: #009688;
}

.standardBackgroundColor {
    background-color: #009688;
    color: white;
}

.fade-out-enter-active {
    opacity: 0;
    transition: opacity 200ms;
}
.fade-out-exit {
    opacity: 0;
}
.fade-out-active {
    opacity: 0;
    transition: opacity 200ms;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

a {
    text-decoration: none;
}
/*
a:focus {
    text-decoration: none;
}*/