.uiComponents-noteRender-body {
    padding: 16px;
}

.uiComponents-noteRender-contributionOptions {
    text-align: center;
}

.uiComponents-noteRender-selectors > .row {
    margin-bottom: 16px;
}

.uiComponents-noteRender-element {
    float: left;
    padding: 8px;
}

.uiComponents-noteRender-editorElement {
    text-align: center;
}

.uiComponents-noteRender-paragraph {

}

.uiComponents-noteRender-diagramImage {

}

.uiComponents-noteRender-columnEditor {
    text-align: center;
}

.uiComponents-noteRender-newRow {
    padding: 8px;
    text-align: center;
}

.uiComponents-noteRender-portraitImage {
    text-align: center;
    width: 100%;
    box-shadow: 0 0 4px 4px white inset;
    background-size: cover;
    margin: auto;
}

.uiComponents-noteRender-portraitImage > img {
    width: 100%;
}

.uiComponents-noteRender-portraitImage:after {

}

.uiComponents-noteRender-editorOptions > div {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin: auto;
    width: 95%
}

.uiComponents-noteRender-widthController {
    width: 85%;
    max-width: 200px;
    margin: auto;
}

.uiComponents-noteRender-widthController-changing {
    background-color: #ffffff;
    box-shadow: 0 0 4px 4px white inset;
    padding: 16px;
}

.uiComponents-noteRender-editorOptions > div > button {
    margin: auto;
}

.uiComponents-noteRender-editorOptions > div > div {
    margin: auto;
}

@media only screen and (max-width: 1023px) {
    .uiComponents-noteRender-element {
        padding-left: 0;
        padding-right: 0;
    }

    .uiComponents-noteRender-portraitImageElement {
        text-align: center;
    }

    .uiComponents-noteRender-portraitImage {
        width: 45%;
    }

    .uiComponents-noteRender-editorOptions {
        max-width: 100%;
    }

    .uiComponents-noteRender-widthController {
        max-width: 100%;
    }
}