.index-question-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 0;
    position: fixed;
    z-index: 2;
    background: white;
}

.index-question-logo {
    width: 25%;
}

.index-question-buttons-wrapper {
    margin-top: 40px;
    text-align: center;
}

.index-question-buttons-wrapper button {
    width: 190px;
    margin-bottom: 6px;
}
.index-question-buttons-wrapper .MuiFormControlLabel-label {
    width: 100%;
    margin-left: 16px;
}

.index-question-buttons-wrapper label {
    width: 221px;
}

.index-main-body {
    z-index: 1;
}

.index-main-body > section {
}

.index-main-section-colored {
    padding-top: 20vh;
    padding-bottom: 15vh;
}

.index-main-section-colored > .section {
    height: 65vh;
}

.index-main-section-1 {
    text-align: left;
    height: 95vh;
}

.index-main-section-1-buttons {
    margin-top: 18px;
    padding-left: 15px;
}

.index-main-section-1-logoHolder {
    text-align: right;
}

.index-main-section-1-logo {
    width: 36%;
}

.index-main-section-2 {
    text-align: right;
}

.index-main-section-2-logoHolder {
    text-align: center;
}

.index-main-section-2-logo {
    width: 49%;
}

.index-main-section-3 {
    text-align: center;
    height: 95vh;
    padding-top: 5vh;
}

.index-main-section-4 {
    text-align: left;
}

.index-main-section-4-logoHolder {
    text-align: center;
}

.index-main-section-4-logo {
    width: 38%;
}

.index-main-section-5 {
    text-align: center;
}

.index-main-section-5-subtitles {
    max-width: 500px;
    margin: auto;
}

.index-main-section-5 > .section {
    min-height: 80vh;
}

@media (max-width:500px) {
    .index-main-section-1 {
         text-align: center;
     }

    .index-main-section-1-logoHolder {
        text-align: center;
    }

    .index-main-section-2 {
        text-align: center;
    }

    .index-main-section-2-logoHolder {
        text-align: center;
    }

    .index-main-section-4 {
        text-align: center;
    }

    .index-main-section-4-logoHolder {
        text-align: center;
    }
}