.dashboard-body {
    height: 95vh;
}

.dashboard-options > div {
    margin-bottom: 16px;
}

.dashboard-options {
    margin-top: 64px;
}

.dashboard-intro {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.dashboard-notification {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}