#student-examPapers-render {
    margin: auto;
    min-width: 570px;
    text-align: center;
}

.examPapers-body {
    padding: 16px;
}

.examPapers-selectors > .row {
    margin-bottom: 16px;
}

.examPapers-general-image {
    max-width: 100%;
}

.examPapers-parentExamSplit {
    /* display: flex; */
}

.examPapers-examSplit {
    position: relative;
    min-width: 570px;
    text-align: center;
}

.examPapers-examSplit > img {
    /* float: left; */
    display: flex;
}

.examPapers-markingSchemeSplit {
    position: relative;
    min-width: 570px;
    text-align: center;
}

.examPapers-markingSchemeSplit > img {

}

.examPapers-floatSide {
    width: 50%
}

.examPapers-floatSide > * {
    min-width: 285px;
}

.examPapers-endOfQuestion {
}

.examPapers-examSplit-options {
    position: absolute;
    bottom: 5px;
    right:0;
}

.examPapers-examSplit-options button {
    font-size: 1vw;
    padding: 1px 4px;
}

.student-examPapers-settingTitle {
    text-align: center;
}

@media screen and (max-width: 605px) {
    #paper-width {
        position: absolute;
        left: 0;
        overflow-x: auto;
        padding: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .examPapers-examSplit-options button {
        font-size: 12px;
    }
}

.examPapers-examSplit-options {
    opacity: 0.6;
    -webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

.examPapers-examSplit-options:focus {
    opacity: 1;
}

.examPapers-examSplit-options:hover {
    opacity: 1;
}

.student-examPapers-paperOptions {
    text-align: center;
}